.schedule-container {
  display: flex;
  font-family: Gill Sans, Verdana;
  font-size: 13px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.schedule-logo {
  display: block;
  max-width: 500px;
  margin: auto;
  margin-bottom: 8em;
  margin-top: 2em;
}

img {
  max-width: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
}
